@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #6b469c;
  --accent-color: #eee7ce;
  --main-color-variant: #6b469c92;
  --main-bg-color: #fefbe3;
}

@media screen and (min-width: 999px) {
  #fragment {
    width: 100%;
    max-height: 50000vh;
    flex-direction: row;
    display: flex;
  }

  .ads-side {
    width: 15%;
    max-height: 5000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
  }

  #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
  }

  #entry {
    width: 100%;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #entry-color-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
  }

  #user-image {
    width: 384px;
    height: 384px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 4px var(--main-color) solid;
  }

  #user-data {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  #user-name {
    color: var(--main-bg-color);
    font-size: 2em;
    font-family: "Raleway";
    font-weight: 900;
    margin: 12px 0;
  }

  #user-bio {
    color: var(--main-bg-color);
    font-size: 0.75em;
    font-family: "Poppins";
    font-weight: 100;
    white-space: pre-wrap;
  }

  #user-member-since,
  #user-type {
    color: #999;
    font-family: "Poppins";
    font-size: 0.9em;
  }

  #overview {
    width: 100%;
    max-height: 200vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    flex-direction: column;
  }

  #overview-cards {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 5vh;
    grid-template-columns: repeat(3, 2fr);
  }

  section > h3,
  .section-header > h3 {
    font-size: 2em;
    font-weight: 500;
    margin: 12px 0;
    color: var(--main-color);
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #videos-posts-section-toggle,
  #audios-posts-section-toggle,
  #books-posts-section-toggle {
    transition: 500ms ease;
    color: var(--main-color);
    cursor: pointer;
    font-size: 2em;
    font-weight: 100;
    font-family: "Raleway";
    background-color: transparent;
    border: none;
    transform: rotate(90deg);
  }

  .overview-card {
    width: 40vh;
    height: 40vh;
    display: flex;
    margin: 0 24px;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10% 15%;
  }

  .overview-card:hover {
    transform: scale(1.1);
    border: 4px var(--main-color) solid;
  }

  .overview-card-value {
    color: var(--main-color);
    font-size: 5em;
    font-weight: 900;
    font-family: "Raleway";
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .overview-card-title {
    color: var(--main-color);
    font-size: 1.25em;
    font-weight: 500;
  }

  .overview-card-subtitle {
    font-size: 0.75em;
    font-weight: 300;
    color: #999;
    text-align: center;
  }

  #books,
  #audios,
  #videos {
    width: 100%;
    max-height: 5000vh;
    transition: 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25% 2.5%;
    border-radius: 12px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
    margin: 5vh 0;
  }

  #books-table,
  #audios-table,
  #videos-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #books-table td,
  #books-table th {
    border: 1px solid #ddd;
    padding: 6px;
    width: 100%;
  }
  #books-table > td,
  #books-table > th {
    min-width: 100%;
  }

  #books-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #books-table tr:hover {
    background-color: #ddd;
  }

  #books-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--main-color);
    color: white;
  }

  #audios-table td,
  #audios-table th {
    border: 1px solid #ddd;
    padding: 6px;
    width: 100%;
  }
  #audios-table > td,
  #audios-table > th {
    min-width: 100%;
  }

  #audios-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #audios-table tr:hover {
    background-color: #ddd;
  }

  #audios-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--main-color);
    color: white;
  }

  #videos-table td,
  #videos-table th {
    border: 1px solid #ddd;
    padding: 6px;
    width: 100%;
  }
  #videos-table > td,
  #videos-table > th {
    min-width: 100%;
  }

  #videos-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #videos-table tr:hover {
    background-color: #ddd;
  }

  #videos-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--main-color);
    color: white;
  }

  #post-row-actions {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-row-edit,
  .post-row-show,
  .post-row-delete {
    font-size: 0.9em;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .post-row-edit {
    margin: 12px;
    border: 2px var(--main-color) solid;
  }

  .post-row-show,
  .post-row-delete {
    background-color: transparent;
    font-weight: 300;
    font-size: 0.9em;
    transition: 500ms ease;
    margin: 0 4px;
  }

  .post-row-show:hover,
  .post-row-delete:hover {
    text-decoration: underline;
  }

  .post-row-show {
    color: var(--main-color);
  }
  .post-row-delete {
    color: red;
  }

  .post-row-property {
    color: var(--main-color);
    font-size: 0.9em;
    font-weight: 300;
    font-family: "Cairo";
  }

  #books-post-row {
    transition: 500ms ease;
  }

  #no-content {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 24px 0;
  }

  #fragments-controller {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
  }

  .fragment-controller {
    opacity: 0.75;
    color: var(--main-color);
    font-weight: 500;
    font-size: 2em;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 500ms ease;
  }

  .active-fragment-controller {
    opacity: 1;
    color: var(--main-bg-color);
    background-color: var(--main-color-variant);
    border-radius: 12px;
    padding: 12px 24px;
  }

  .posts-section {
    width: 100%;
    max-height: 10000vh;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 10vh 0;
    transition: 500ms;
    gap: 16px;
    padding: 0 10%;
  }

  .posts-section > #header {
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 2em;
    color: var(--main-color);
  }

  .active-fragment {
    opacity: 1;
    display: flex;
  }

  .posts-section > div#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5%;
    min-height: 100vh;
  }

  .edit-action,
  .show-action {
    font-size: 1em;
    font-weight: 300;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 8px;
    cursor: pointer;
  }
  .edit-action {
    color: var(--main-color);
  }

  .show-action {
    color: #111;
  }

  i.icon {
    width: 24px;
    height: 24px;
    display: flex;
    margin: 4px 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  i.icon#likes {
    background-image: url(./icons/likes.png);
  }

  i.icon#views {
    background-image: url(./icons/views.png);
  }

  #dialog-overlay {
    width: 100%;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  #dialog {
    width: 80%;
    height: 80%;
    display: none;
    border-radius: 12px;
    background-color: var(--main-bg-color);
    z-index: 1005;
    position: fixed;
    top: 10%;
    left: 10%;
    flex-direction: column;
    padding: 8px 16px;
  }

  #dialog > #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #dialog h3 {
    font-size: 3em;
    font-family: "Raleway";
    color: var(--main-color);
  }

  #dialog > #header > div {
    color: #111;
    font-size: 1em;
    font-family: "Raleway";
    cursor: pointer;
  }

  #dialog #body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    flex-direction: column;
    padding: 8px 16px;
  }

  #dialog #actions {
    outline: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: end;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 16px 0;
    gap: 16px;
  }

  .dashboard-book-card,
  .dashboard-video-card,
  .dashboard-audio-card {
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 30vw;
    height: 15vw;
    display: flex;
    gap: 2vw;
  }

  .dashboard-audio-card .cover,
  .dashboard-book-card .cover,
  .dashboard-video-card .cover {
    width: 15vw;
    height: 8vw;
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    border-radius: 12px;
    border: 2px var(--main-color) solid;
  }

  .dashboard-audio-card .content,
  .dashboard-book-card .content,
  .dashboard-video-card .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  .dashboard-audio-card label,
  .dashboard-book-card label,
  .dashboard-video-card label {
    background-color: var(--main-color);
    padding: 4px 8px;
    border-radius: 12px;
    border: 2px var(--main-color) solid;
    color: var(--main-bg-color);
    font-weight: 500;
  }

  .dashboard-audio-card .reputation,
  .dashboard-book-card .reputation,
  .dashboard-video-card .reputation {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 8px;
  }
  .dashboard-audio-card span,
  .dashboard-book-card span,
  .dashboard-video-card span {
    flex-direction: row;
    display: flex;
  }
  .dashboard-audio-card .actions,
  .dashboard-book-card .actions,
  .dashboard-video-card .actions {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: row;
  }
}
