@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #6b469c;
  --accent-color: #eee7ce;
  --main-color-variant: #6b469c92;
  --main-bg-color: #fefbe3;
}

@media screen and (min-width: 999px) {
  #entry {
    width: 100%;
    height: 85vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/entry.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .color-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    text-align: center;
    font-size: 5em;
    font-weight: 800;
    color: var(--accent-color);
  }

  h3 > span {
    font-size: 0.25em;
    font-weight: 100;
    opacity: 0.5;
  }

  #classifications {
    width: 100%;
    max-height: 120vh;
  }

  #search-container {
    width: 100%;
    height: 10vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #search-container > input {
    margin-right: 12px;
    width: 100%;
  }

  #categories {
    padding: 12px 10%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5vh;
    column-gap: 8px;
  }

  #videos {
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  #videos-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #ads-side {
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}
