@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #6b469c;
  --accent-color: #eee7ce;
  --main-bg-color: #fefbe3;
}
@media screen and (max-width: 999px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  body {
    background-color: var(--main-bg-color);
  }
  header {
    background-color: var(--main-color);
    padding: 0 5%;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 997;
    transition: 500ms ease;
  }

  #logo {
    background-image: url(./images/logo-white-128.png);
    background-size: contain;
    background-position: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }

  #logo-accent {
    background-image: url(./images/logo-accent-128.png);
    background-size: contain;
    background-position: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }

  header > div {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header > div > a {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    font-family: "Agency FB";
    letter-spacing: 2px;
  }

  a.active_tab {
    color: var(--accentColor);
    font-weight: 500;
  }

  a.active_tab:hover {
    color: var(--accentColor);
  }

  header nav a {
    display: none;
  }

  header nav a:hover {
    display: none;
    color: #fff;
  }

  .options-btn {
  color: var(--main-color);
  background-color: transparent;
  padding: 16px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transform: rotate(90deg);
  box-shadow: none;
}

.options {
  position: relative;
  display: inline-block;
}

.options-content {
  display: none;
  position: absolute;
  background-color: var(--main-bg-color);
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 12px;
}

.options-content a, .options-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:  15vh;
  border-radius: 12px;
  text-align:  start;
  color: var(--main-color);
  font-size: 1em;

}

.options-content a:hover, .options-content button:hover {
  background-color: #f1f1f1
}

.options:hover .options-content {
  display: block;
}

.options:hover .dropbtn {
  background-color: var(--main-bg-color);
}


  #drawer {
    z-index: 999;
    width: 70%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    position: fixed;
    right: -70%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 12px 8px;
    transition: 750ms ease;
    overflow-y: scroll;
  }

  #drawer > nav {
    width: 100%;
  }

  #drawer-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 998;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    transition: 500ms ease;
  }

  #drawer a.active_tab:hover {
    color: var(--accentColor);
  }

  #drawer a.active_tab {
    color: var(--accentColor);
    font-weight: 500;
  }

  #drawer nav {
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  #drawer nav a {
    color: #999;
    font-weight: 500;
    font-family: "Quicksand";
    font-size: 1em;
    margin: 8px 0;
    transition: 500ms ease;
  }

  #drawer nav a:hover {
    color: #fff;
  }

  #drawer-header {
    width: 100%;
    height: 10%;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    display: flex;
  }

  #drawer-icon {
    width: 64px;
    height: 64px;
    font-family: "Quicksand";
    font-size: 2em;
    color: white;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }

  #drawer-header > div {
    width: 32px;
    height: 32px;
    color: white;
    font-weight: 900;
    font-family: "Quicksand";
    font-size: 2em;
  }

  #footer-social-media-icons {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-media-icon {
    width: 48px;
    height: 48px;
    margin: 0 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #drawer-instagram {
    background-image: url(./icons/instagram.png);
  }
  #drawer-facebook {
    background-image: url(./icons/facebook.png);
  }
  #drawer-linkedin {
    background-image: url(./icons/linkedin.png);
  }

  #footer-social-instagram {
    background-image: url(./icons/instagram.png);
  }
  #footer-social-facebook {
    background-image: url(./icons/facebook.png);
  }
  #footer-social-linkedin {
    background-image: url(./icons/linkedin.png);
  }

  #footer-logo {
    min-width: 128px;
    min-height: 128px;
    background-image: url(./images/logo-white-128.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #toast {
    position: fixed;
    bottom: 12px;
    right: 24px;
    background-color: var(--main-bg-color);
    box-shadow: 0 0 30px 1px #000;
    padding: 16px 32px;
    border: 4px var(--main-color) solid;
    border-radius: 12px;
    display: none;
    flex-direction: row;
  }

  #toast-text {
    font-weight: 100;
    font-size: 0.75em;
    font-family: "Quicksand";
    color: var(--main-color);
  }

  footer {
    background-color: var(--main-color);
    width: 100%;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  footer > div {
    width: 100%;
    height: 100%;
    padding: 5% 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  #info {
    align-items: start;
    justify-content: center;
  }

  .footer-tab {
    color: var(--main-bg-color);
    font-size: 1em;
    font-weight: 500;
    transition: 500ms;
    opacity: 0.5;
    padding: 0 6px;
  }

  .footer-tab:hover {
    opacity: 0.9;
  }

  .footer-contact-info {
    color: var(--main-bg-color);
    font-weight: 200;
    font-size: 1em;
    font-family: "Poppins";
  }

  #footer-logo {
    width: 128px;
    height: 128px;
    background-image: url(./images/logo-white-128.png);
    background-size: contain;
    background-position: center;
  }

  #footer-social-media-icons {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .footer-social-icon {
    width: 48px;
    height: 48px;
    margin: 0 12px;
    background-size: contain;
    background-position: center;
  }

  #footer-social-instagram {
    background-image: url(./icons/instagram.png);
  }
  #footer-social-facebook {
    background-image: url(./icons/facebook.png);
  }
  #footer-social-linkedin {
    background-image: url(./icons/linkedin.png);
  }


  .single-line-field {
    background-color: transparent;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    font-weight: 300;
    font-size: 1em;
    padding: 12px 24px;
    border-radius: 12px;
    margin: 12px 0;
  }


  .publish-multi-line-field {
    width:  100%;
    max-height:  80vh;
    min-height: 15vh;
    display:  flex;
    border: 2px #888 solid;
    padding:  16px 8px;
    margin: 24px 0;
    border-radius: 12px;
    outline: none;
    content: attr(data-replicated-value);
    resize: vertical;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Cairo';
    color:  var(--main-color);
    background-color: transparent;
  }


  .publish-single-line-field {
    width:  100%;
    height:  8vh;
    display:  flex;
    border: 2px #888 solid;
    padding:  4px 8px;
    margin: 24px 0;
    border-radius: 12px;
    outline: none;
    transition: 500ms ease;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Cairo';
    color:  var(--main-color);
    background-color: transparent;
  }

  .publish-single-line-field:active, .publish-single-line-field:focus {
    border: 4px var(--main-color) solid;
  }

  .main-button {
    font-weight: 300;
    font-size: 1.5em;
    background-color: var(--main-color);
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px var(--main-color) solid;
    color: var(--main-bg-color);
    transition: 500ms;
  }

  .main-button:hover {
    color: var(--main-color);
    background-color: transparent;
  }

  .shadow-button {
    font-weight: 300;
    font-size: 1.5em;
    color: var(--main-color);
    padding: 12px 24px;
  }

  .main-white-button {
    font-weight: 300;
    font-size: 1.5em;
    background-color: var(--main-bg-color);
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px var(--main-bg-color) solid;
    color: var(--main-color);
    transition: 500ms;
  }

  .main-white-button:hover {
    color: var(--main-bg-color);
    background-color: transparent;
  }

  .shadow-white-button {
    font-weight: 300;
    font-size: 1.5em;
    color: var(--main-bg-color);
    padding: 12px 24px;
  }


}
