
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{audio["title"]}}</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='website/global/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='website/global/styles/smallDevices.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='website/audio/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='website/audio/styles/smallDevices.css')}}"
    />
    <script src="{{url_for('static', filename='website/global/scripts/main.js')}}"></script>
    <script src="{{url_for('static', filename='website/Audio/scripts/main.js')}}"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='./website/global/styles/images/logo-accent.ico')}}"
    />
    <meta name="description" content="{{header_desc}}" />
    <meta name="keywords" content="{{keywords}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4160017708320181"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div>
        <a href="/"><div id="logo-accent"></div></a>
        <a href="/">StoriesClub</a>
      </div>
      <nav style="flex-direction: row">
        {% if lang == "en" %}
        <a style="font-family: 'Poppins'" class="header-tab" href="/"
          >{{content.tabs[lang]["home"]}}</a
        >
        <a style="font-family: 'Poppins'" class="header-tab" href="/about"
          >{{content.tabs[lang]["about"]}}</a
        >
        <a style="font-family: 'Poppins'" class="header-tab" href="/earnMore"
          >{{content.tabs[lang]["earnMore"]}}</a
        >
        <a style="font-family: 'Poppins'" class="header-tab" href="/books"
          >{{content.tabs[lang]["books"]}}</a
        >
        <a style="font-family: 'Poppins'" class="header-tab" href="/videos"
          >{{content.tabs[lang]["videos"]}}</a
        >
        <a style="font-family: 'Poppins'" class="header-tab" href="/audios"
          >{{content.tabs[lang]["audios"]}}</a
        >
        {% endif %} 
        {% if lang == "ar" %}
        <a style="font-family: 'Cairo'" class="header-tab" href="/"
          >{{content.tabs[lang]["home"]}}</a
        >
        <a style="font-family: 'Cairo'" class="header-tab" href="/about"
          >{{content.tabs[lang]["about"]}}</a
        >
        <a style="font-family: 'Cairo'" class="header-tab" href="/earnMore"
          >{{content.tabs[lang]["earnMore"]}}</a
        >
        <a style="font-family: 'Cairo'" class="header-tab" href="/books"
          >{{content.tabs[lang]["books"]}}</a
        >
        <a style="font-family: 'Cairo'" class="header-tab" href="/videos"
          >{{content.tabs[lang]["videos"]}}</a
        >
        <a style="font-family: 'Cairo'" class="header-tab" href="/audios"
          >{{content.tabs[lang]["audios"]}}</a
        >
        {% endif %}  
        <div class="options">
          <button class="options-btn">></button>
          <div class="options-content">
            {% if loggedin %}
              {% if lang == "ar" %}
              <a style="font-family: 'Cairo'" class="header-tab active-tab" href="/profile/">{{content.tabs[lang]["profile"]}}</a>
              <button onclick="logout('{{contact_info["url"]}}');" style="font-family: 'Cairo'; color: red;" class="lang-btn" href="./?lang=ar">{{content.auth[lang]["logout"]}}</button>
              {% else %}
              <a style="font-family: 'Poppins'" class="header-tab active-tab" href="/profile/">{{content.tabs[lang]["profile"]}}</a>
              <button onclick="logout('{{contact_info["url"]}}');" style="font-family: 'Poppins'; color: red;" class="lang-btn" href="./?lang=ar">{{content.auth[lang]["logout"]}}</button>
              {% endif %}
            {% else %}
              <a style="font-family: 'Cairo'" class="header-tab" href="/login/">{{content.tabs[lang]["login"]}}</a>
              <a style="font-family: 'Cairo'" class="header-tab" href="/signup/">{{content.tabs[lang]["signup"]}}</a>
            {% endif %}
            <div class="horizontal-divider"><div></div></div>
            {% if lang == 'en' %}
              <button onclick="changeLang('{{contact_info['url']}}', 'ar');" style="font-family: 'Cairo'" class="lang-btn" href="./?lang=ar">العربية</button>
            {% else %}
              <button onclick="changeLang('{{contact_info['url']}}', 'en');" style="font-family: 'Poppins'" class="lang-btn" href="./?lang=en">English</button>
            {% endif %}            
          </div>
        </div>
        
      </nav>
      <div id="drawer-btn" onclick="openDrawer();">=</div>
    </header>
	<section id="entry" style="background-image: url('{{contact_info["url"]}}/audio/cover/{{audio["_id"]}}')">
		<div class="color-overlay">
      {% if check_if_arabic(audio["title"]) %}
      <h1 style="font-family: 'Cairo';">{{audio["title"]}}</h1>
      {% else %}
      <h1 style="font-family: 'Raleway';">{{audio["title"]}}</h1>
      {% endif %}
    </div>
	</section>
  <div class="horizontal-ad">Ad Space</div>

	<section id="info">
		<div id="audio-image" style="background-image: url('{{contact_info["url"]}}/audio/cover/{{audio["_id"]}}')"></div>
		<div id="audio-content">
			<h3 id="audio-title">{{audio["title"]}}</h3>
			<p id="audio-desc">{{audio["desc"]}}</p>
      <div id="user" style="justify-content: space-between">
        {% if current_user != None and followed %}
        {% if lang == 'ar' %}
          <button style="cursor: pointer; font-family: 'Cairo';" class="main-button" onclick="unfollow('{{lang}}', '{{audio['publisher']}}');">{{content.global_[lang]["unfollow"]}}</button>
        {% else %}
          <button style="cursor: pointer; font-family: 'Cairo';" class="main-button" onclick="unfollow('{{lang}}', '{{audio['publisher']}}');">{{content.global_[lang]["unfollow"]}}</button>
        {% endif %}
        {% else %}
        {% if lang == 'ar' %}
          <button style="cursor: pointer; font-size: 0.75em; font-family: 'Cairo';" class="main-button" onclick="follow('{{lang}}', '{{audio['publisher']}}');">{{content.global_[lang]["follow"]}}</button>
        {% else %}
          <button style="cursor: pointer; font-size: 0.75em; font-family: 'Cairo';" class="main-button" onclick="follow('{{lang}}', '{{audio['publisher']}}');">{{content.global_[lang]["follow"]}}</button>
        {% endif %}
        {% endif %}
        <div id="content">
          <a href="{{contact_info['url']}}/users/{{audio['user']['_id']}}"><div id="user-image" style="background-image: url('{{contact_info['url']}}/user/asset/{{audio['publisher']}}'); background-size: cover;"></div></a>
          <div>
            <a href="{{contact_info['url']}}/users/{{audio['user']['_id']}}"><p id="user-name">{{audio["user"]["name"]}}</p></a>
            <p id="user-followers">{{len(audio["user"]["followers"])}} {{content.global_[lang]["followers"]}}</p>
          </div>
        </div> 
      </div>
		</div>
	</section>
  <div class="horizontal-ad">Ad Space</div>

  <section id="want-to-listen">
    {% if lang == 'ar' %}
    <p style="font-family: 'Cairo';">{{content.audios[lang]['wantToListen']}}</p>
    {% else %}
    <p style="font-family: 'Poppins';">{{content.audios[lang]['wantToListen']}}</p>
    {% endif %}
    <button class="main-white-button" onclick="listen('{{contact_info['url']}}/audio/asset/{{audio['_id']}}')">{{content.audios[lang]['listen']}}</button>
  </section>
  <div class="horizontal-ad">Ad Space</div>


  <section id="recommendations">
    {% if lang == 'ar' %}
    <h3 style="font-family: 'Cairo';">{{content.global_[lang]["trendingAudios"]}}</h3>
    <p style="font-family: 'Cairo';">{{content.global_[lang]["trendingAudiosMsg"]}}</p>
    {% else %}
    <h3 style="font-family: 'Raleway';">{{content.global_[lang]["trendingAudios"]}}</h3>
    <p style="font-family: 'Poppins';">{{content.global_[lang]["trendingAudiosMsg"]}}</p>
    {% endif %}
    <div>
      <div class="side-ad">
        <!-- TODO -->
        Ad Space
      </div>
      <div class="cards" id="audios-cards">
        {% for audio in trending_audios[:3] %}
        <a href="{{contact_info['url']}}/audio/{{audio['_id']}}">
            <div class="audio-card" style="background-image: url('{{contact_info["url"]}}/audio/cover/{{audio["_id"]}}');">
              <div class="audio-card-overlay">
                  <div class="audio-card-content">
                    <div class="card-category">
                      <div class="card-category-icon-white"></div>
                    <!-- TODO -->
                    <p>{{list(categories.data.values())[audio["category"]]["name"][lang]}}</p>
                    </div>
                    {% if check_if_arabic(audio["title"]) %}
                      <h4 style="font-family: 'Cairo'; text-align: right;">{{audio["title"]}}</h4>
                      {% else %}
                      <h4 style="font-family: 'Raleway'; text-align: left;">{{audio["title"]}}</h4>
                      {% endif %}
                    
                      {% if check_if_arabic(audio["title"]) %}
                      <p dir="rtl" style="font-family: 'Cairo'; direction: rtl; text-align: right;">{{audio["desc"][:200]}}...</p>
                    {% else %}
                      <p dir="ltr" style="font-family: 'Poppins'; direction: ltr; text-align: left;">{{audio["desc"][:200]}}...</p>
                    {% endif %}
                  <div class="card-adoption-detials">
                    <div class="card-adoption-icon" id="views-icon-white"></div>
                    <p class="card-adoption-detial">{{audio["views"]}}</p> 
                    | 
                    <div class="card-adoption-icon" id="likes-icon-white"></div>
                    <p class="card-adoption-detial">{{len(audio["likes"])}}</p> 
                  
                  </div>
                </div>
              </div>
            </div>
        </a>
        {% endfor %}
      </div>
      <div class="side-ad">
        <!-- TODO -->
        Ad Space

      </div>
      
    </div>
  </section>
  <div class="horizontal-ad">Ad Space</div>

    <footer>
      <div>
        <div id="footer-logo"></div>
        <p class="footer-contact-info">{{contact_info["phone"]}}</p>
        <p class="footer-contact-info">{{contact_info["email"]}}</p>
        <p class="footer-contact-info">{{contact_info["address"]}}</p>
        <div id="footer-social-media-icons">
          <a
            href='{{contact_info["facebook"]}}'
            class="footer-social-icon"
            id="footer-social-facebook"
            target="_blank"
          ></a>
          <a
            href='{{contact_info["instagram"]}}'
            class="footer-social-icon"
            id="footer-social-instagram"
            target="_blank"
          ></a>
          <a
            href='{{contact_info["linkedin"]}}'
            class="footer-social-icon"
            id="footer-social-linkedin"
            target="_blank"
          ></a>
        </div>
      </div>
      <div>
        {% if lang == "en" %}
        <a style="font-family: 'Poppins'" class="footer-tab" href="/about"
          >{{content.tabs[lang]["about"]}}</a
        >
        <a style="font-family: 'Poppins'" class="footer-tab" href="/earnMore"
          >{{content.tabs[lang]["earnMore"]}}</a
        >
        <a style="font-family: 'Poppins'" class="footer-tab" href="/books"
          >{{content.tabs[lang]["books"]}}</a
        >
        <a style="font-family: 'Poppins'" class="footer-tab" href="/videos"
          >{{content.tabs[lang]["videos"]}}</a
        >
        <a style="font-family: 'Poppins'" class="footer-tab" href="/audios"
          >{{content.tabs[lang]["audios"]}}</a
        >
        {% if loggedin %}
        <a style="font-family: 'Poppins'" class="footer-tab" href="/profile/"
          >{{content.tabs[lang]["profile"]}}</a
        >
        {% else %}
        <a style="font-family: 'Poppins'" class="footer-tab" href="/login/"
          >{{content.tabs[lang]["login"]}}</a
        >
        <a style="font-family: 'Poppins'" class="footer-tab" href="/signup/"
          >{{content.tabs[lang]["signup"]}}</a
        >
        {% endif %} {% endif %} {% if lang == "ar" %}
        <a style="font-family: 'Cairo'" class="footer-tab" href="/about"
          >{{content.tabs[lang]["about"]}}</a
        >
        <a style="font-family: 'Cairo'" class="footer-tab" href="/earnMore"
          >{{content.tabs[lang]["earnMore"]}}</a
        >
        <a style="font-family: 'Cairo'" class="footer-tab" href="/books"
          >{{content.tabs[lang]["books"]}}</a
        >
        <a style="font-family: 'Cairo'" class="footer-tab" href="/videos"
          >{{content.tabs[lang]["videos"]}}</a
        >
        <a style="font-family: 'Cairo'" class="footer-tab" href="/audios"
          >{{content.tabs[lang]["audios"]}}</a
        >
        {% if loggedin %}
        <a style="font-family: 'Cairo'" class="footer-tab" href="/profile/"
          >{{content.tabs[lang]["profile"]}}</a
        >
        {% else %}
        <a style="font-family: 'Cairo'" class="footer-tab" href="/login/"
          >{{content.tabs[lang]["login"]}}</a
        >
        <a style="font-family: 'Cairo'" class="footer-tab" href="/signup/"
          >{{content.tabs[lang]["signup"]}}</a
        >
        {% endif %} {% endif %}
      </div>
      <div></div>
    </footer>



    <div id="drawer-overlay" onclick="closeDrawer()"></div>
    <div id="drawer">
      <div id="drawer-header">
        <button id="drawer-icon" onclick="closeDrawer();">x</button>
      </div>
      <div id="footer-logo"></div>
      {% if lang == "en" %}
        <nav style="align-items: start">
      {% else %}
        <nav style="align-items: end">
      {% endif %}
        {% if lang == "en" %}
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/"
          >{{content.tabs[lang]["home"]}}</a
        >
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/about"
          >{{content.tabs[lang]["about"]}}</a
        >
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/earnMore"
          >{{content.tabs[lang]["earnMore"]}}</a
        >
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/books"
          >{{content.tabs[lang]["books"]}}</a
        >
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/videos"
          >{{content.tabs[lang]["videos"]}}</a
        >
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/audios"
          >{{content.tabs[lang]["audios"]}}</a
        >
        <div class="vertical-divider"></div>
        {% if loggedin %}
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/profile/"
          >{{content.tabs[lang]["profile"]}}</a
        >
        {% else %}
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/login/"
          >{{content.tabs[lang]["login"]}}</a
        >
        <a style="font-family: 'Poppins'; text-align: left;" class="header-tab" href="/signup/"
          >{{content.tabs[lang]["signup"]}}</a
        >
        {% endif %} {% endif %} {% if lang == "ar" %}
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/"
          >{{content.tabs[lang]["home"]}}</a
        >
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/about"
          >{{content.tabs[lang]["about"]}}</a
        >
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/earnMore"
          >{{content.tabs[lang]["earnMore"]}}</a
        >
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/books"
          >{{content.tabs[lang]["books"]}}</a
        >
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/videos"
          >{{content.tabs[lang]["videos"]}}</a
        >
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/audios"
          >{{content.tabs[lang]["audios"]}}</a
        >
        {% if loggedin %}
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/profile/"
          >{{content.tabs[lang]["profile"]}}</a
        >
        {% else %}
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/login/"
          >{{content.tabs[lang]["login"]}}</a
        >
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="/signup/"
          >{{content.tabs[lang]["signup"]}}</a
        >
        {% endif %} {% endif %}  {% if lang == 'en' %}
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab"
          >ar</a
        >
        {% endif %} {% if lang == 'ar' %}
        <a style="font-family: 'Cairo'; text-align: right;" class="header-tab" href="./?lang=en"
          >en</a
        >
        {% endif %}
      </nav>
      <div
        style="
          justify-content: space-between;
          width: 70%;
          margin-top: 10%;
          height: 64px;
          flex-direction: row;
          display: flex;
          align-items: center;
        "
      >
        <a
          class="social-media-icon"
          href="{{contact_info['facebook']}}"
          id="drawer-facebook"
        ></a>
        <a
          class="social-media-icon"
          href="{{contact_info['linkedin']}}"
          id="drawer-linkedin"
        ></a>
        <a
          class="social-media-icon"
          href="{{contact_info['instagram']}}"
          id="drawer-instagram"
        ></a>
      </div>
    </div>
		<div id="toast">
			<p id="toast-text">This is a Toast</p>
		</div>

	<div id="share">
		<div>
			{% if lang == "ar" %}
				<h5 style="font-family: 'Cairo';">{{content.global_[lang]["share"]}}</h5>
			{% else %}
				<h5 style="font-family: 'Raleway';">{{content.global_[lang]["share"]}}</h5>
			{% endif %}

			<div style="cursor: pointer;" onclick="closeShare();">X</div>

		</div>
			{% if lang == 'ar' %}
				<p style="font-family: 'Cairo';">Share this post with your friends and you'll get more profit</p>
			{% else %}
				<p style="font-family: 'Poppins';">Share this post with your friends and you'll get more profit</p>
			{% endif %}
			<div id="social-share">
			<div onclick="facebookShare();" class="social-share-icon" id="facebook"></div>
			<div onclick="messangerShare();" class="social-share-icon" id="messanger"></div>
			<div onclick="instagramShare();" class="social-share-icon" id="instagram"></div>
			<div onclick="emailShare();" class="social-share-icon" id="email"></div>
			<div onclick="messageShare();" class="social-share-icon" id="message"></div>
		</div>
		<div id="link-share">
			<p id="link">{{contact_info["url"]}}audio/{{audio["_id"]}}</p>
			<div style="cursor: pointer;" onclick="copyToClipboard();" id="clipboard-copy"></div>
		</div>
	</div>
	<div id="share-overlay" onclick="closeShare();"></div>

  <div id="listen" style="background-image: url('{{contact_info["url"]}}/audio/cover/{{audio["_id"]}}');">
    <div id="listen-inner-overlay">
      <div id="listen-header">
        <div id="listen-close">x</div>
      </div>
      <div id="audio-player-info">
        <h3 style="color: var(--main-bg-color); text-align: center;" id="audio-title">{{audio["title"]}}</h3>
          <a href="{{contact_info['url']}}/users/{{audio['user']['_id']}}"><p style="color: var(--main-bg-color); text-align: center;" id="user-name">{{audio["user"]["name"]}}</p></a>
      </div>
        
      <audio id="audio-player"></audio>
      <div id="audio-track-progress">
        <p id="audio-track-current-time"></p>
        <p id="audio-track-full-time"></p>
      </div>
      <div id="audio-track"><div id="audio-time"></div></div>
      <div id="audio-player-controllers">  
        <div class="audio-player-controller" id="audio-player-seek-back"></div>
        <div class="audio-player-controller" id="audio-player-stop"></div>
        <div class="audio-player-controller" id="audio-player-pause"></div>
        <div class="audio-player-controller" id="audio-player-play"></div>
        <div class="audio-player-controller" id="audio-player-loop"></div>
        <div class="audio-player-controller" id="audio-player-seek-next"></div>
      </div>
      
    </div>
  </div>
  <div id="listen-overlay" onclick="closeListen();"></div>


  </body>
</html>


        
