<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>StoriesClub - Users</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='admin/global/styles/computer.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='admin/global/styles/smallDevices.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='admin/users/styles/computer.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='admin/users/styles/smallDevices.css')}}">

	<script type="text/javascript" src="{{url_for('static', filename='admin/users/scripts/main.js')}}"></script>
	<link rel="icon"  type="image/x-icon"  href="{{url_for('static', filename='./admin/global/styles/icons/logo-accent.ico')}}"/>
</head>
<body>

	<header>
		<h3>StoriesClub Admin <span style="font-size: 0.9em">(Alpha)</span></h3>
		<nav>
			<a href="{{config.url}}/webapp/adminstration/users/" class="active-tab">Users</a>
			<a href="{{config.url}}/webapp/adminstration/books/">Books</a>
			<a href="{{config.url}}/webapp/adminstration/audios/">Audios</a>
			<a href="{{config.url}}/webapp/adminstration/videos/">Videos</a>
			<a href="{{config.url}}/webapp/adminstration/logout/" style="color: red">Logout</a>
		</nav>
	</header>
	<section id="users">
		<h3><span style="font-family: 'Poppins'">{{users | length}}</span> Users</h3>
		<div id="search-options">
			<div class="search-container">
				<input type="name" name="name" placeholder="Name" id="name-token" value="{{params['name']}}">
			</div>
			<div class="search-container">
				<input type="name" name="email" placeholder="Email" id="email-token" value="{{params['email']}}">
			</div>
		</div>
		<div id="options">
			<button class="main-white-button" onclick="clearFilteration();">Clear</button>
			<button class="main-button" onclick="filter();">Apply</button>
		</div>
		<table id="table">
			<tr id="table-header" class="table-row">
				<th class="table-row-cell">Name</th>
				<th class="table-row-cell" id="id">Id</th>
				<th class="table-row-cell">Books</th>
				<th class="table-row-cell">Audios</th>
				<th class="table-row-cell">Videos</th>
				<th class="table-row-cell">Total Views</th>
				<th class="table-row-cell">Actions</th>
			</tr>
			{% for user in users %}
			<tr class="table-row">
				<td class="table-row-cell">{{user.name}}</td>
				<td class="table-row-cell">{{str(user._id)[:10]}}...</td>
				{% set user_posts= config.db.users.get_user_posts(user._id) %}
				<td class="table-row-cell">{{user_posts["books"] | length}}</td>
				<td class="table-row-cell">{{user_posts["audios"] | length}}</td>
				<td class="table-row-cell">{{user_posts["videos"] | length}}</td>
				<td class="table-row-cell">{{config.calc_total_views(user_posts["audios"] + user_posts["books"] + user_posts["videos"])}}</td>
				<td class="table-row-cell" id="options">
					<button class="main-white-button" onclick="window.open('{{config.url}}/users/{{user._id}}');">Show</button>
				</td>
			</tr>
			{% endfor %}
		</table>
	</section>

</body>
</html>